        <ul id="nav-mobile" class="sidenav sidenav-fixed blue lighten-1" style="width:200px">
            <li>
              <div class="imagen-logo">
                <a href="/programas"><img src="/media/gigis_logo.png" alt="logo-gigis" width="70%"></a></div>
              
              <div class="divider"></div>
            </li>
            <li class="center row sidenav-trigger hide-on-large-only" data-target="slide-out">
              <button class="wideBtn blue lighten-1" style="border-width: 0px;">
                <a href=""href="#!"></a>
                  <div><i class="white-text small material-icons">account_circle</i></div>
                  <div><p class="white-text flow-text">Cuenta</p></div>
                </a>
              </button>
              <div class="divider"></div>
            </li>
            <li class="center row sidenav-trigger hide-on-med-and-down" data-target="slide-out">
              <button class="wideBtn blue lighten-1" style="border-width: 0px;">
                <a href=""href="#!"></a>
                  <div><i class="white-text medium material-icons">account_circle</i></div>
                  <div><h5 class="white-text">Cuenta</h5></div>
                </a>
              </button>
              <div class="divider"></div>
            </li>
            <% const permisoGetionAdmin = permisos.includes(1) || permisos.includes(2) || permisos.includes(3) || permisos.includes(4) || permisos.includes(6) || permisos.includes(9) || permisos.includes(10) || permisos.includes(11) || permisos.includes(12) || permisos.includes(13) || permisos.includes(16) || permisos.includes(17) || permisos.includes(18) || permisos.includes(19)|| permisos.includes(20) || permisos.includes(6);
            if(permisoGetionAdmin) { 
            %>
            <li class="center row hide-on-large-only">
              <button class="wideBtn blue lighten-1" style="padding: 0%; border-width: 0px;">
                <a href="/gestionAdmin">
                  <div><i class="white-text small material-icons">folder_shared</i></div>
                  <div><p class="white-text flow-text">Gesti칩n Administrativa</p></div>
                </a>
              </button>
              <div class="divider"></div>
            </li>
            <li class="center row hide-on-med-and-down">
              <button class="wideBtn blue lighten-1" style="padding: 0%; border-width: 0px;">
                <a href="/gestionAdmin">
                  <div><i class="white-text medium material-icons">folder_shared</i></div>
                  <div><h5 class="white-text">Gesti칩n Administrativa</h5></div>
                </a>
              </button>
              <div class="divider"></div>
            </li>
          <% } %>
          <% const permisoProgramas = permisos.includes(15);
            if(permisoProgramas) { 
          %>
            <li class="center row hide-on-large-only">
              <button class="wideBtn blue lighten-1" style="padding: 0%; border-width: 0px;">
                <a href="/programas">
                  <div><i class="white-text small material-icons">art_track</i></div>
                  <div><h5 class="white-text">Programas</h5></div>
                </a>
              </button>
              <div class="divider"></div>
            </li>
            <li class="center row hide-on-med-and-down">
              <button class="wideBtn blue lighten-1" style="padding: 0%; border-width: 0px;">
                <a href="/programas">
                  <div><i class="white-text medium material-icons">art_track</i></div>
                  <div><h5 class="white-text">Programas</h5></div>
                </a>
              </button>
              <div class="divider"></div>
            </li>
            <% } %>
            <% const permisoConsultas = permisos.includes(5) || permisos.includes(7) || permisos.includes(14);
            if(permisoConsultas) { 
            %>
            <li class="center row hide-on-large-only">
              <button class="wideBtn blue lighten-1" style="padding: 0%; border-width: 0px;">
                <a href="/consultas">
                  <i class="white-text Small material-icons">insert_chart</i>
                  <h5 class="white-text">Consultas</h5>
                </a>
              </button>
            </li>
            <li class="center row hide-on-med-and-down">
              <button class="wideBtn blue lighten-1" style="padding: 0%; border-width: 0px;">
                <a href="/consultas">
                  <i class="white-text medium material-icons">insert_chart</i>
                  <h5 class="white-text">Consultas</h5>
                </a>
              </button>
            </li>
            <% } %>
        </ul>
        <ul id="slide-out" class="sidenav light-blue lighten-1">
            <li><div class="user-view center-align">
              <div class="imagen-logo">
                <img src="/media/usuario_icon.png" width="70%" >
              </div>
              <span class="white-text container"><h5 class="nombreNav"><%= nombreUsuario %></h5></span>
              <span class=" white-text"><%= user %></span>
            </div></li>
            <li><div class="divider"></div></li>
            <li><a class="subheader">Cuenta</a></li>
            <li><a class="waves-effect" href="/usuarios/perfil">Ver Perfil Completo</a></li>
            <li><a href="/usuarios/password">Cambiar Contrase침a</a></li>
            <li><a href="/usuarios/logout">Cerrar Sesi칩n</a></li>            
        </ul>
      </header>
    
    <main class="container">
    
    <!-- Contenedor principal-->
    <div class="row">
    <div class="col s12 m12 l11 offset-l2 xl12 offset-xl1">