<table class="highlight">
    <thead>
    <tr>
        <th data-field="nombre">Nombre</th>
        <th data-field="titulo">Estatus</th>
        <th data-field="editar"></th>
    </tr>
    </thead>
    <tbody id="tablaParticipantes">
    <% for (let participante of participantes) { %>  
        <tr>
            <td  style="cursor: pointer;"><a href="./perfil/<%= participante.login %>" class = "black-text"><%= participante.nombreUsuario %></a></td>
            <% if (participante.estatus === 'A')  { %>  
                <td>Activo</td>
            <% }else if(participante.estatus === 'I'){ %>  
                <td>Inactivo</td>
            <% }else if(participante.estatus === 'B'){%>
                <td>Baja permanente</td>
            <% } %>
            <td>
            <% if (permisos.includes(6)) { %>
                <a class=" modal-trigger black-text white right" href="#modificarParticipante" id="<%= participante.login %>" onclick="modPar(this.id);"><i class="material-icons">create</i></a>
            <% } %>
            </td>
        </tr>
    <% } %>
    <!-- Modal Structure Modificar Participante-->
    <div id="modificarParticipante" class="modal">
        <div id="despliega_participante"><div id="childDiv"></div></div>
    </div><!-- Fin Modal Structure Modificar Participante -->

    </tbody>
</table>