<form action="/gestionAdmin/gestionUsuarios/crear-roll" method="POST">
  <div class="modal-content">
        <h3>Crear rol</h3>
        <ul>
          <li><strong><br>Nombre del nuevo rol</strong></li>
          <li>
            <div class="input">
              <input id="nombreRol" name="nombreRol"  type="text" class="validate"  placeholder="Rol" required>
            </div>
          </li>
          <li>
            <table class="highlight">
              <thead>
                <tr>
                  <th data-field="Permisos">Permisos</th>
                </tr>
              </thead>
              <tbody>
                <% var i = 1; %>
                <% for(let funciones of func) { %>
                  <tr>
                    <td>
                      <label>
                        <input type="checkbox" name="Funcion_<%= i %>"/>
                        <span><%= funciones.requisitoFuncional %></span>
                      </label>
                    </td>
                  </tr>
                  <% i++; %>
                <% } %>
              </tbody>
            </table>
          </li>
        </ul>
    </div>
    <div class="modal-footer">
      <button  type = "submit" class="modal-action waves-effect btn-flat grey lighten-1 boton-md">Registrar</button>
    </div>
</form>
  