.vl {
    top: 2px;
    border-left: 4px solid #e0e0e0;
    height: 550px;
  }

.camposPerfil {
    font-size:x-large;
    padding-bottom: 4px;
}


.asignar-nivel {
  padding-left: 2em;
  position: sticky;
  top: 0;
  border-left:1px solid black;
  
}

.asignar-objetivos {
  padding-left: 2em;
  position: sticky;
  top: 0;
  border-left:1px solid black;
  
}